###################
# API (Node/Express)
###################

api/node_modules/
api/.env
api/.env.* # For variants like .env.local, .env.development, etc.
api/logs/
api/dist/
api/build/
api/coverage/
api/configs/firebase/serviceAccount.json

###################
# Frontend (React)
###################

frontend/node_modules/
frontend/.env
frontend/.env.* # Optional envs like .env.local, .env.development
frontend/build/
frontend/dist/
frontend/coverage/
frontend/.next/
frontend/.cache/
frontend/.turbo/

###################
# Global
###################

.DS_Store